<Configuration>
  <Appenders>
    <Console name="stderr" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.randomcoder" level="debug"/>
    <Logger name="org.randomcoder.midi.mac.MacMidi" level="debug"/>
    <Logger name="org.randomcoder.midi.mac.spi" level="debug"/>
    <Logger name="org.randomcoder.midi.mac.spi.MidiMessageConverter"
            level="debug"/>
    <Root level="info">
      <AppenderRef ref="stderr"/>
    </Root>
  </Loggers>
</Configuration>