.rotary {
	-fx-background: darkgray;
	-rc-font-color: black;
	-rc-arc-foreground-color: orange;
	-rc-arc-background-color: black;
	-rc-arc-foreground-color-none: gray;
	-rc-arc-background-color-none: gray;
	-rc-pointer-color: -rc-arc-background-color;
	-rc-pointer-color-none: black;
	-rc-arc-foreground-color: orange;
	-rc-arc-foreground-color: orange;
	-rc-automated-color: -rc-arc-foreground-color;
}

.rotary:pol-none {
	-rc-arc-foreground-color: -rc-arc-foreground-color-none;
	-rc-arc-background-color: -rc-arc-foreground-color-none;
	-rc-pointer-color: -rc-pointer-color-none;
}

.rotary-container {
	-fx-padding: 0;
	-fx-alignment: top-center;
	-fx-background-color: -fx-background;
}

.rotary-automation {
	-fx-stroke-line-cap: round;
	-fx-stroke: -rc-automated-color;
}

.rotary-editor {
	-fx-background-color: -fx-background;
	-fx-text-fill: -rc-font-color;
	-fx-text-box-border: -fx-background;
	-fx-faint-focus-color: -fx-background;
	-fx-focus-color: -fx-background;
	-fx-accent: -rc-arc-foreground-color;
}

.rotary-editor:focused {
	-fx-background-color: -fx-background;
	-fx-text-fill: -rc-font-color;
	-fx-text-box-border: -fx-background;
	-fx-faint-focus-color: -fx-background;
	-fx-focus-color: -fx-background;
}

.rotary-arc {
	-fx-fill: -fx-background;
	-fx-stroke-line-cap: round;
}

.rotary-pointer {
	-fx-fill: -fx-background;
	-fx-stroke-line-cap: round;
	-fx-stroke: -rc-pointer-color;
}

.rotary-arc-foreground {
	-fx-stroke: -rc-arc-foreground-color;
}

.rotary-arc-background {
	-fx-stroke: -rc-arc-background-color;
}